[Unit]
Description=Milkhaus MoneroOcean Safe Miner
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/xmrig/run-safe-xmrig.sh
Restart=always
RestartSec=10
User=root
Group=root
WorkingDirectory=/opt/xmrig
Nice=10
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
